option_settings:
  aws:elasticbeanstalk:application:environment:
    PARSE_MOUNT: "/parse"
    APP_ID: "eeHlybxAQT1qA90RhUpxmuodb9pSSoDanwRF9SSA"
    MASTER_KEY: "w723ovkNXH50PZevpH8e7ICKd70YEHqNrp6Ll6RQ"
    DATABASE_URI: "mongodb://puzhledbuser:chch726726@localhost:27017/puzhledb"
    NODE_ENV: "production"

  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"